mixin product-card(product)
	article.ProductItem
		h3.productTitle= product.title
		figure.ProductSection
			img( src=product.image_url )
			figcaption
				p= product.description
				div.Detail
					h2= product.price
					p (#{product.price_tax} IVA incluido)
