mixin product-card(product)
	article.ProductItem
		h2.productTitle= product.title
		figure.ProductSection
			img( src=product.image_url )
			figcaption
				div.detail
					p= product.description
					p= product.price
					p= product.price_tax
